<section id="pinBoot">
  <% @articles.each do |article| %>
    <article class="white-panel"><%= image_tag article.cover.url(:mini) %>
      <h4><a href="#"><%= article.name %></a></h4>
      <p><%= article.plot %></p>
    </article>
  <% end %>
</section>
<br>
<hr>
<%= link_to 'New Article', new_article_path %>


    