<ul class="sidebar-nav">
	<li class="sidebar-brand">
        <a href='<%= root_path %>'> 
        	<%= image_tag('logo.gif') %>
        </a>
    </li>
	<% if admin_signed_in? %>
	    <li>
	    	<%= link_to "Logout", destroy_admin_session_path, :method => :delete %>
	    </li>
    <% else %>
	    <li>
	    	<%= link_to "Iniciar Sesion",  new_admin_session_path%>
	    </li>
    <% end %>
</ul>
<div class="sidebar-two col-lg-12 col-md-12 col-sm-12">
		<div class="contenedor-menu">
			<div class="square">
				<span class="glyphicon glyphicon-play" aria-hidden="true"></span>
			</div>
			<div class="square">
				cuadro2
			</div>
			<div class="square">
				cuadro3
			</div>
			<div class="espacio">
			</div>
		</div>
</div>
<ul class="sidebar-three">
	<li>
        <a href="#">Overview</a>
    </li>
    <li>
        <a href="#">Events</a>
    </li>
    <li>
        <a href="#">About</a>
    </li>
    <li>
        <a href="#">Services</a>
    </li>
    <li>
        <a href="#">Contact</a>
    </li>
</ul>