<ul class="sidebar-nav">
	<li class="sidebar-brand">
        <a href="#">
            Start Bootstrap
        </a>
    </li>
	<% if admin_signed_in? %>
	    <li>
	    	<%= link_to "Logout", destroy_admin_session_path, :method => :delete %>
	    </li>
    <% else %>
	    <li>
	    	<%= link_to "Iniciar Sesion",  new_admin_session_path%>
	    </li>
    <% end %>
	    <li>
	        <a href="#">Overview</a>
	    </li>
	    <li>
	        <a href="#">Events</a>
	    </li>
	    <li>
	        <a href="#">About</a>
	    </li>
	    <li>
	        <a href="#">Services</a>
	    </li>
	    <li>
	        <a href="#">Contact</a>
	    </li>
</ul>